---
layout: saga
---

</div>
<div>
  <h1>{{ site.name }}</h1>
</div>
<div class=container>

<p style=text-align:center;margin-bottom:60px>
<a style=width:100%;background-color:#222;border-color:#111;color:#ccc class="btn btn-lg btn-default" href="slides/" role="button">
    Slides <span style=float:right>››</span>
</a>
</p>

<div class=jumbotron>
<div class="row">
    <h2>Exercises</h2>
    {% for exercise in site.data.exercises %}
        <div class="col-sm-6" style=overflow:hidden>
            <h3>{{ exercise.title }}</h3>
            <p>{{ exercice.description }}</p>
            <p><a href="exercises/{{ exercise.slug }}">Read more ›</a></p>
        </div>
    {% endfor %}
</div>
</div>

<p style=text-align:center;margin-bottom:60px>
<a style=width:100%;background-color:#222;border-color:#111;color:#ccc class="btn btn-lg btn-default" href="https://docs.google.com/forms/d/1Ji7RRTxRyeJ8v_YdgdeViybuWxAuY2qgJ6nR7kZ-PrE/viewform?usp=send_form" role="button">
    Register iPhone <span style=float:right>››</span>
</a>
</p>

<div class=jumbotron>
<div class="row guide-list">
    {% for guide in site.data.guides %}
        <div class="col-sm-12">
            <a href="{{ guide.slug }}" style=background-image:url({{ guide.image }}) class=guide-image>
            </a>
            <h3>{{ guide.title }}</h3>
            <p>{{ guide.description }}</p>
            <p><a href="{{ guide.slug }}">Read more ›</a></p>
        </div>
    {% endfor %}
</div>
</div>

<div class="jumbotron spotify-block">
<div class="row">
  <iframe style="margin:0 auto;display:block" src="https://embed.spotify.com/?uri=spotify:user:1114991801:playlist:1BoRUELMITwVCFLA9p9ITt" width="500" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>
</div>

<div class=jumbotron>
  <div class=row>
    <a href=http://goo.gl/forms/7coIDTJdHq target=_blank>
      <center>
        <strong>Tilbakemeldingsskjema</strong>
      </center>
    </a>
  </div>
</div>
