@font-face {
    font-family: 'augusta';
    src: url('/font/Augusta.eot');
    src: url('/font/Augusta.eot?#iefix') format('embedded-opentype'),
         url('/font/Augusta.woff2') format('woff2'),
         url('/font/Augusta.woff') format('woff'),
         url('/font/Augusta.ttf') format('truetype'),
         url('/font/Augusta.svg#augustaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
