<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <base href="{{ site.baseurl }}">
    <title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive site -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- chrome frame -->
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body class="guide">

    <div class=container>
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="">Home</a></li>
          <li class="active"><a href="slides/">Slides</a></li>
        </ul>
        <h3>{{ site.name }}</h3>
      </div>

      <div class=banner style=background-image:url('{{ page.banner }}')>
      </div>

      <div class=content>
        {{ content }}
      </div>

      <div class="footer" role="contentinfo">

      </div>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60018779-1', 'auto');
        ga('send', 'pageview');

      </script>
    </body>
  </html>
